@font-face {
    font-family: 'American Typewriter';
    src: url('https://github.com/andymtv/1s2e3g4a/blob/e893466fb4f3aff92239f4474da63d70f8adc488/am_type_wr.ttf');
    font-weight: 400;
    font-style: normal;
} 
