@font-face {
    font-family: 'American Typewriter';
    src: url('https://github.com/andymtv/1s2e3g4a/raw/387bf07a18dc04caf25ed5d63340fe6499f26526/am_type_wr.ttf');
    font-weight: 400;
    font-style: normal;
} 
